body{
    background-image: url(invierno-parque.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}
.contenedor{
width:80%;
max-width:1000px;
padding: 20px;
box-sizing: border-box;
margin:auto;
}
header{
    padding: 10px;
    box-sizing: border-box;
    background: #31384A;
    color: white;
}
.instrucciones{
    width: 45%;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 9px;
    float:left;
}

main{
    width: 45%;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 9px;
    float:left;
}
h1,h4{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}h5{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;padding: 10px;
    box-sizing: border-box;
    background: #31384A;

}

input, textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    float: left;
}
textarea{
    min-height: 146px;
    max-height: 250px;
    max-width: 100%;
}
.button{    
    border-radius: 20px;
    background: #31384A;
    color:#fff ;
    padding: 20px;


}
.button:hover{
    cursor: pointer;
}
@media(max-height:400px){
     main{
         width: 100%;
     }
     .instrucciones{
         width: 100%;
     }
}
@media screen and (max-width: 800px){
    main{
        width:100%;
    }
    .instrucciones{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .contenedor {
        width:100%;
    }
}